node_modules/
build/
dist/
.env
.env.*
.vscode/
.idea/
.DS_Store

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
*-debug.log
firebase-credentials.json
service-account*.json
*-service-account*.json
